.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  max-height: 600px;
  width: auto;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-link {
  color: #D4AF37;
}
